@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* For Firefox */
html, body {
  scrollbar-width: none;
}

/* For IE/Edge Legacy */
html, body {
  -ms-overflow-style: none;
}
